<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.elconproject">
    <!-- phone call permission -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/elcon"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ThermocoupleCodesTable"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AwgCalculator"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Pt100Calculator"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OhmsCalculator"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>